<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <%# when not signed in we need sign button %>
    <%# username, new_sub_url, subs_url, logout button %>
    <%= yield %>
    <%# when not sign in in login page we need link to sign up %>
  </body>
</html>
